.post{
    border-radius: 10px;
    background-color: white;
    margin:8px 0px;
    padding:10px;

}
.post-header{
    display:flex;
    align-items: center;
    margin-left: 10pxy;
}
.post-info {
    padding:10px;
}
.post-info > h2{
    font-size: 20px;
}
.post-info > p{
    font-size: 13px; 
    color:grey;
}
.post-body{
    overflow-wrap: anywhere;
}
.post-body > h2{
    font-size: 13px;
}
.post-buttons{
    display:flex;
    justify-content: space-around;
    align-items: center;
}