.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login>img{
    width:20%;
    height:10%;
}
.login >form{
    display:flex;
    flex-direction: column;
    width:20%;
}
.login-input{
    margin-top: 20px!important;
}
.login >p{
    font-size: 19px;
    margin-top: 20px;
}
.login > p > span{
    color:rgb(7, 103, 199);
    cursor:pointer;
}
#login-button{
    margin-top: 20px;
    height:50px;
    font-size: 17px;
    font-weight: bold;
}

